security:
  password_hashers:
    App\Entity\User:
      algorithm: auto

  # Провайдер пользователей
  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    login:
      pattern:  ^/api/login
      stateless: true
      anonymous: true
      json_login:
        check_path: /api/login
        username_path: email
        password_path: password
        success_handler: lexik_jwt_authentication.handler.authentication_success
        failure_handler: lexik_jwt_authentication.handler.authentication_failure

    api:
      pattern: ^/api
      stateless: true
      provider: app_user_provider
      jwt: ~

  access_control:
    # Доступ к списку книг без авторизации
    - { path: ^/api/books$, roles: IS_AUTHENTICATED_ANONYMOUSLY, methods: [GET] }
    - { path: ^/api/books/\d+$, roles: IS_AUTHENTICATED_ANONYMOUSLY, methods: [GET] }

    # Добавление и удаление книги — только ADMIN
    - { path: ^/api/books$, roles: ROLE_ADMIN, methods: [POST] }
    - { path: ^/api/books/\d+$, roles: ROLE_ADMIN, methods: [DELETE] }

    # Избранное — только CLIENT
    - { path: ^/api/favorites, roles: ROLE_CLIENT }

    # Регистрация и логин — открытые
    - { path: ^/api/register, roles: IS_AUTHENTICATED_ANONYMOUSLY }

