version: "3.9"


services:
    app:
        build: .
        container_name: app
        volumes:
            - ./app:/var/www/html
        ports:
            - "8000:8000"
        depends_on:
            - db
        command: sleep infinity  # контейнер живет, можно exec

    db:
        image: postgres:15
        container_name: postgres
        environment:
            POSTGRES_DB: library
            POSTGRES_USER: library_user
            POSTGRES_PASSWORD: library_pass
        ports:
            - "5433:5432"
        volumes:
            - db_data:/var/lib/postgresql/data

volumes:
    db_data:
